h1{
    color: red;
}
h1:hover{
    cursor: pointer;
    color: greenyellow;
}
button{
    background-color: aqua;
    width: 10%;
}
label{
    width: 70px;
    height: 30px;
    border: 2px solid red;
    background-color: aqua;
}
#name{
     position: absolute;
     left: 6%;
}

#Password{
    position: absolute; 
    left: 6%;

}
